@inherits LayoutComponentBase

<NavMenu />

<!-- Page Content-->
<section>
	<div class="container px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5">
			<div class="col-lg-6">
				<ErrorBoundary @ref="_errorBoundary">
					<ChildContent>
						@Body
					</ChildContent>
					<ErrorContent>
						<p class="errorUI">😈 A rotten gremlin got us. Sorry!</p>

						<div id="blazor-error-ui">
							<environment include="Staging,Production">
								An error has occurred.
							</environment>
							<environment include="Development">
								An unhandled exception occurred.
							</environment>
							<a href="" class="reload">Reload</a>
							<a class="dismiss">🗙</a>
						</div>
					</ErrorContent>
				</ErrorBoundary>
			</div>
		</div>
	</div>
</section>

@code {
	private ErrorBoundary? _errorBoundary;

	protected override void OnParametersSet()
	{
		_errorBoundary?.Recover();
	}
}
@*
<div class="container" style="outline: 1px solid purple;">
	<div class="row" style="outline: 1px solid purple;">
		<div class="col-3" style="outline: 1px solid purple;">
			<NavMenu/>
		</div>
		<div class="col">
			<main>
				<div class="top-row px-4">
					<a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
				</div>

				<article class="content px-4">
					@Body
				</article>

				<div id="blazor-error-ui">
					An unhandled error has occurred.
					<a href="" class="reload">Reload</a>
					<a class="dismiss">🗙</a>
				</div>

			</main>
		</div>
	</div>
</div>
*@