<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<base href="/" />
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
	@* <link href="styles.css" rel="stylesheet" /> *@
	<environment include="Development">
		<link rel="stylesheet" href="bootstrap.custom.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="bootstrap.custom.min.css" />
	</environment>
	<link rel="stylesheet" href="app.css" />
	@* <link rel="stylesheet" href="OpenGraphTilemakerReborn.styles.css" /> *@
	<link rel="icon" type="image/png" href="favicon.png" />
	<HeadOutlet @rendermode="@RenderMode.InteractiveServer" />
</head>

<body>
<Routes @rendermode="@RenderMode.InteractiveServer" />
<script src="_framework/blazor.web.js"></script>
<environment names="Development">
	@if (Environment.GetEnvironmentVariable("__ASPNETCORE_BROWSER_TOOLS") is not null)
	{
		<script src="/_framework/aspnetcore-browser-refresh.js"></script>
	}
</environment>
</body>

</html>

@* <!DOCTYPE html> *@
@* <html lang="en"> *@
@* *@
@* <head> *@
@*     <meta charset="utf-8" /> *@
@*     <meta name="viewport" content="width=device-width, initial-scale=1.0" /> *@
@*     <base href="/" /> *@
@*     <link rel="stylesheet" href="bootstrap/bootstrap.min.css" /> *@
@*     <link rel="stylesheet" href="app.css" /> *@
@*     <link rel="stylesheet" href="BlazorApp.styles.css" /> *@
@*     <link rel="icon" type="image/png" href="favicon.png" /> *@
@*     <HeadOutlet @rendermode="@RenderMode.InteractiveAuto" /> *@
@* </head> *@
@* *@
@* <body> *@
@*     <Routes @rendermode="@RenderMode.InteractiveAuto" /> *@
@*     <script src="_framework/blazor.web.js"></script> *@
@* </body> *@
@* *@
@* </html> *@
